@use '../functions/functions' as functions;
@use '../tokens/config' as config;
@use 'sass:map';

/** CUSTOM PROPERTIES **/
:root {
  /** COLOR **/
  @each $ct, $cd in config.$color-types {
    /*! #{$cd} */
    @each $style in config.$colors {
      $type: map.get($style, 'type');
      /*! #{$type} */
      $shades: functions.rootColor($type, $ct, $style);
      @each $shade, $value in $shades {
        #{$shade}: #{$value};
      }
    }
  }

  /** FONT **/
  @each $entry in config.$fonts {
    $type: map.get($entry, 'type');
    --#{$type}: '#{$type}';
  }

  --transition: all 0.4s ease;
}
