@each $style in $fonts {
  $type: map-get($style, 'type');
  @each $s in map-get($style, 'sizes') {
    $v: $type + '-' + $s;
    .#{$v} {
      font-family: quote($type);
      font-size: pxToRem($s);
    }
  }
}

@mixin dynamic-text-regular($size) {
  font-family: 'main-text-regular', sans-serif;
  font-size: $size;
}

@mixin dynamic-text-bold($size) {
  font-family: 'main-text-bold', sans-serif;
  font-size: $size;
}
@mixin dynamic-text-generic($fontfamily, $size) {
  font-family: $fontfamily, sans-serif;
  font-size: $size;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}
