@use '../functions/functions' as functions;
@use '../tokens/config' as config;

@mixin theme($group, $name) {
  $tokens: functions.themeTokens($group, $name);
  $background-color: functions.themeValue($tokens, 'backgroundColor');
  $hover-color: functions.themeValue($tokens, 'hoverColor');
  $foreground-color: functions.themeValue($tokens, 'foregroundColor');
  $text-color: functions.themeValue($tokens, 'textColor');
  $icon-color: functions.themeValue($tokens, 'iconColor');
  $padding-horizontal: functions.themeValue($tokens, 'paddingHorizontal');
  $padding-vertical: functions.themeValue($tokens, 'paddingVertical');
  $gap: functions.themeValue($tokens, 'gap');
  $font-name: functions.themeValue($tokens, 'fontName');
  $font-size: functions.themeValue($tokens, 'fontSize');
  $border-radius: functions.themeValue($tokens, 'borderRadius');
  $cursor: functions.themeValue($tokens, 'cursor');
  $width: functions.themeValue($tokens, 'width');

  @if $background-color != null {
    background-color: functions.colorOrReference($background-color);
  }

  @if $foreground-color != null {
    color: functions.colorOrReference($foreground-color, 'fg');
  } @else if $text-color != null {
    color: functions.colorOrReference($text-color, 'fg');
  }

  @if $icon-color != null {
    --theme-icon-color: #{functions.colorOrReference($icon-color, 'fg')};
  }

  @if $padding-horizontal != null {
    padding-left: functions.spacingReference($padding-horizontal);
    padding-right: functions.spacingReference($padding-horizontal);
  }

  @if $padding-vertical != null {
    padding-top: functions.spacingReference($padding-vertical);
    padding-bottom: functions.spacingReference($padding-vertical);
  }

  @if $gap != null {
    gap: functions.spacingReference($gap);
  }

  @if $font-name != null {
    font-family: functions.fontNameReference($font-name);
  }

  @if $font-size != null {
    font-size: functions.fontSizeReference($font-size);
  }

  @if $border-radius != null {
    border-radius: functions.borderRadiusReference($border-radius);
  }

  @if $cursor != null {
    cursor: $cursor;
  }

  @if $width != null {
    width: $width;
  }

  @if functions.hoverColorReference($hover-color, $background-color) != null {
    &:hover {
      background-color: functions.hoverColorReference($hover-color, $background-color);
    }
  }
}

/** UTILITY: Theme **/
@if config.$theme != null {
  @each $group, $items in config.$theme {
    @each $name, $tokens in $items {
      .theme-#{$group}-#{$name} {
        @include theme($group, $name);
      }
    }
  }
}
